extends layout

block content
  script
    | var stackid='#{myself.id}';
  h1= title
  fieldset#newEntry
    input#title(type='text', placeholder='Title')
    button#btnNewEntry New Entry 
  #entryList
    each entry in entries
      h2.entry= entry.title
      p.entrysub
        = entry.timestamp.toLocaleString()
        |  - 
        a(href="#" class="delentrylink" rel="#{entry.id}") delete

  script(src='/javascripts/stackview.js')
